.notary{
    width: 40%;
    height: 250px;
    max-width: 40%;
    margin: 5%;
    background-color:#EFEAEA;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0px 0px 2px black;
}

.notary .title{
    margin-top: 1%;
    margin-bottom: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    background-color: #988282;
    border: 1px solid black;
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: large;
}

.notary .title table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
}

.notary .title td {
    padding: 0px 20px 0px 20px;
}

.notary .left {
    text-align: left;
    width: 50%;
}

.notary .right {
    text-align: right;
    width: 50%;
}

.notary .body{
    color: black;
    margin-top: 9%;
    margin-left: 2%;
    margin-right: 2%;
    max-height: 50%;
    overflow: scroll;
    scrollbar-width: none;
    justify-self: left;
}

.notary button{
    background-color: #452C2C;
    color: rgb(189, 189, 189);
    padding: 1% 2% 1% 2%;
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    border-radius: 4px;
}

.notary button:hover{
    color: white;
}